<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <servlet-class>servlet.ModifyInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderTicketServlet</servlet-name>
    <servlet-class>servlet.OrderTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryOrderServlet</servlet-name>
    <servlet-class>servlet.QueryOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryTicketServlet</servlet-name>
    <servlet-class>servlet.QueryTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayTicketServlet</servlet-name>
    <servlet-class>servlet.PayTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryMemberServlet</servlet-name>
    <servlet-class>servlet.QueryMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <servlet-class>servlet.ModifyMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>servlet.DeleteMemberServlet</servlet-class>
  </servlet>













  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <url-pattern>/servlet/ModifyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/servlet/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderTicketServlet</servlet-name>
    <url-pattern>/servlet/OrderTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryOrderServlet</servlet-name>
    <url-pattern>/servlet/QueryOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryTicketServlet</servlet-name>
    <url-pattern>/servlet/QueryTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayTicketServlet</servlet-name>
    <url-pattern>/servlet/PayTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMemberServlet</servlet-name>
    <url-pattern>/servlet/QueryMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/servlet/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <url-pattern>/servlet/ModifyMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/servlet/DeleteMemberServlet</url-pattern>
  </servlet-mapping>
</web-app>