<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <servlet-class>servlet.ModifyInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <servlet-class>servlet.ResetPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OrderTicketServlet</servlet-name>
    <servlet-class>servlet.OrderTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryOrderServlet</servlet-name>
    <servlet-class>servlet.QueryOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryTicketServlet</servlet-name>
    <servlet-class>servlet.QueryTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PayTicketServlet</servlet-name>
    <servlet-class>servlet.PayTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryMemberServlet</servlet-name>
    <servlet-class>servlet.QueryMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMemberServlet</servlet-name>
    <servlet-class>servlet.AddMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <servlet-class>servlet.ModifyMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>servlet.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TuiTicketServlet</servlet-name>
    <servlet-class>servlet.TuiTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAllTicketServlet</servlet-name>
    <servlet-class>servlet.QueryAllTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddTicketServlet</servlet-name>
    <servlet-class>servlet.AddTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyTicketServlet</servlet-name>
    <servlet-class>servlet.ModifyTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteTicketServlet</servlet-name>
    <servlet-class>servlet.DeleteTicketServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAllUserServlet</servlet-name>
    <servlet-class>servlet.QueryAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ModifyUserServlet</servlet-name>
    <servlet-class>servlet.ModifyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QueryAllOrderServlet</servlet-name>
    <servlet-class>servlet.QueryAllOrderServlet</servlet-class>
  </servlet>
























  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/servlet/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyInfoServlet</servlet-name>
    <url-pattern>/servlet/ModifyInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResetPasswordServlet</servlet-name>
    <url-pattern>/servlet/ResetPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderTicketServlet</servlet-name>
    <url-pattern>/servlet/OrderTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryOrderServlet</servlet-name>
    <url-pattern>/servlet/QueryOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryTicketServlet</servlet-name>
    <url-pattern>/servlet/QueryTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayTicketServlet</servlet-name>
    <url-pattern>/servlet/PayTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryMemberServlet</servlet-name>
    <url-pattern>/servlet/QueryMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMemberServlet</servlet-name>
    <url-pattern>/servlet/AddMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyMemberServlet</servlet-name>
    <url-pattern>/servlet/ModifyMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/servlet/DeleteMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TuiTicketServlet</servlet-name>
    <url-pattern>/servlet/TuiTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/servlet/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllTicketServlet</servlet-name>
    <url-pattern>/servlet/QueryAllTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddTicketServlet</servlet-name>
    <url-pattern>/servlet/AddTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyTicketServlet</servlet-name>
    <url-pattern>/servlet/ModifyTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteTicketServlet</servlet-name>
    <url-pattern>/servlet/DeleteTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllUserServlet</servlet-name>
    <url-pattern>/servlet/QueryAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/servlet/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/servlet/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ModifyUserServlet</servlet-name>
    <url-pattern>/servlet/ModifyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryAllOrderServlet</servlet-name>
    <url-pattern>/servlet/QueryAllOrderServlet</url-pattern>
  </servlet-mapping>
</web-app>