body
{
	padding:0px;
	margin:0px;
}

.loginpanel
{
	width:500px;
	height:250px;
	background-image:url('../Images/login_bg.png');
	margin-top:100px;
	border: 2px solid #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.registerpanel
{
	width:500px;
	height:250px;
	background-image:url('../Images/login_bg.png');
	margin-top:100px;
	border: 2px solid #fff;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}

.top_title
{
	width:100%;
	height:50px;
	float:right;
	background-color: #FE80B9;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#FE80B9),to(#FEBFDC));
	background-image: -webkit-linear-gradient(#FE80B9,#FEBFDC);
	background-image: -moz-linear-gradient(#FE80B9,#FEBFDC);
	background-image: -ms-linear-gradient(#FE80B9,#FEBFDC);
	background-image: -o-linear-gradient(#FE80B9,#FEBFDC);
	background-image: linear-gradient(#FE80B9,#FEBFDC)
}

.top_menu
{
	width:100%;
	height:30px;
	float:right;
	background-color: #C8C8C8;
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#C8C8C8),to(#E6E6E6));
	background-image: -webkit-linear-gradient(#C8C8C8,#E6E6E6);
	background-image: -moz-linear-gradient(#C8C8C8,#E6E6E6);
	background-image: -ms-linear-gradient(#C8C8C8,#E6E6E6);
	background-image: -o-linear-gradient(#C8C8C8,#E6E6E6);
	background-image: linear-gradient(#C8C8C8,#E6E6E6)
}

.top_menu a
{
	color:black;
	font-size:16px;
	line-height:30px;
	text-decoration:none;
}

.menu_item
{
	color:black;
	font-size:8px;
	line-height:20px;
	text-decoration:none;
}

.book_name
{
	color:#000;
	font-size:14px;
}

.book_a
{
	text-decoration:none;
}

.book_item
{
	margin-top:20px;
	float:left;
	margin-left:40px;
	border: 2px solid #FE80B9;
	/*
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	*/
}

.info
{
	color:#000;
	font-size:20px;
}

.bookinfo
{
	width:600px;
	background:#FAFAFA;
	margin-top:30px;
}

.onlinepay
{
	width:600px;
	background:#FAFAFA;
	margin-top:30px;
}